<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focus.e_sus_mobile"
    android:versionCode="2"
    android:versionName="2.0" >
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.focus.activities.Login"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortait"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.focus.activities.MenuPrincipal"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu_principal"
            android:screenOrientation="sensorPortait" >
        </activity>
        <activity
            android:name="com.focus.activities.ListaDomicilios"
            android:configChanges="orientation"
            android:label="@string/title_activity_lista_domicilios"
            android:screenOrientation="sensorPortait" >
        </activity>
        <activity
            android:name="com.focus.activities.CadastroDomicilio"
            android:configChanges="orientation"
            android:label="@string/title_activity_cadastro_domicilio"
            android:screenOrientation="sensorPortait" >
        </activity>
        <activity
            android:name="com.focus.activities.CadastroCidadao"
            android:configChanges="orientation"
            android:label="@string/title_activity_cadastro_cidadao"
            android:screenOrientation="sensorPortait" >
        </activity>
        <activity
            android:name="com.focus.activities.FichaVisitaDomiciliarC"
            android:configChanges="orientation"
            android:label="@string/title_activity_ficha_visita_domiciliar_c"
            android:screenOrientation="sensorPortait" >
        </activity>
    </application>
</manifest>